.env
.env.local
venv/
__pycache__/
.pytest_cache/
.DS_Store
.idea/
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
requirements-lambda-minimal.txt
lambda_packages/
manuel_ingest.py
lambda_deployers/
scripts/